// ================================================================================
// COMPONENT LEVEL: SASS
// progress-bar
// Only contains Sass for this component.
// ================================================================================

// ------------------------------------------------------------------------------
// COMPONENT LEVEL: VARIABLES
// ------------------------------------------------------------------------------
$height--progress-bar: 7px;


// ------------------------------------------------------------------------------
// COMPONENT LEVEL: BEM BLOCK
// ------------------------------------------------------------------------------

.progress-bar,
.reveal .progress {
	height: $height--progress-bar;

	// Unfinished portion
	background: $color--light-primary;

	// Completed portion
	span {
		background: $color--dark-primary;
	}
}
