<!-- COMPONENT LEVEL: HTML -->
<!-- progress-bar -->

<!-- BEM BLOCK -->
<section class="progress-bar">

	<!-- BEM ELEMENTS -->

	<section class="progress-bar__example-element">
		<h1>Hello world! This is a progress-bar component.</h1>
	</section>

</section>
