// ================================================================================
// COMPONENT LEVEL: SASS
// button
// Only contains Sass for this component.
// ================================================================================

// ------------------------------------------------------------------------------
// COMPONENT LEVEL: VARIABLES
// ------------------------------------------------------------------------------



// ------------------------------------------------------------------------------
// COMPONENT LEVEL: BEM BLOCK
// ------------------------------------------------------------------------------

.button {
	@extend %transition--base;
	border-radius: $border-radius--base;
	padding: $padding--small $padding--base !important;
	color: $color--fill !important;
	background: $color--primary;

	&:hover,
	&:active {
		background: $color--dark-primary;
	}
}

// Reveal specificity override
.reveal .button {
	@extend %transition--base;
	color: $color--fill !important;
}
