<!-- COMPONENT LEVEL: HTML -->
<!-- trevordmiller-icon -->

<!-- BEM BLOCK -->
<section class="trevordmiller-follow">

	<!-- BEM ELEMENTS -->
	<h1>Thanks!</h1>

	<div class="trevordmiller-follow__link">
		<div class="trevordmiller-follow__icon">
			{{> github }}
		</div>
		<div class="trevordmiller-follow__handle">
			@trevordmiller
		</div>
	</div>
	<div class="trevordmiller-follow__link">
		<div class="trevordmiller-follow__icon">
			{{> twitter }}
		</div>
		<div class="trevordmiller-follow__handle">
			@trevor_d_miller
		</div>
	</div>
	<div class="trevordmiller-follow__link">
		<div class="trevordmiller-follow__icon">
			{{> website }}
		</div>
		<div class="trevordmiller-follow__handle">
			trevordmiller.com
		</div>
	</div>

</section>
