// ================================================================================
// COMPONENT LEVEL: SASS
// trevordmiller-icon
// Only contains Sass for this component.
// ================================================================================

// ------------------------------------------------------------------------------
// COMPONENT LEVEL: VARIABLES
// ------------------------------------------------------------------------------



// ------------------------------------------------------------------------------
// COMPONENT LEVEL: BEM BLOCK
// ------------------------------------------------------------------------------

.trevordmiller-follow {
	display: flex;
	flex-direction: row;

	// BEM ELEMENTS

	&__link {
		flex: 1;
		padding: $padding--base !important;
		display: flex;
		flex-direction: column;
	}

	&__icon {
		flex: 1;
	}

	&__handle {
		flex: 1;
	}

	path {
		fill: $color--fill;
	}
}
