// ================================================================================
// COMPONENT LEVEL: SASS
// trevordmiller-icon
// Only contains Sass for this component.
// ================================================================================

// ------------------------------------------------------------------------------
// COMPONENT LEVEL: VARIABLES
// ------------------------------------------------------------------------------



// ------------------------------------------------------------------------------
// COMPONENT LEVEL: BEM BLOCK
// ------------------------------------------------------------------------------

.trevordmiller-icon {

	// Example: variable use
	font-family: $font-family--primary;

	// BEM ELEMENTS
	&__example-element {

		// Example: variable use
		font-family: $font-family--primary;
	}

	// BEM MODIFIERS
	&--example-modifier {

		// Example: variable use
		font-family: $font-family--primary;
	}
}
