
	<head>

		<!-- PROJECT LEVEL: CONFIG -->
		<title>Devmtn js fundamentals 1</title>
		<meta name="description" content="DevMountain teaching resources to help students learn core JavaScript principles such as variables, if statements, operators, and functions." />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<meta charset="utf-8" />

		<!-- PROJECT LEVEL: STYLES -->
		<link rel="stylesheet" href="all.min.css" />
	</head>

	<body>

		<!-- PROJECT LEVEL: HEADER -->
		<!-- Instantiate and compose header components here -->
