
	<head>

		<!-- PROJECT LEVEL: CONFIG -->
		<title>DevMountain | JavaScript Fundamentals: Part 1</title>
		<meta name="description" content="An HTML slide deck to help teach the DevMountain lesson." />
		<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
		<meta charset="utf-8" />

		<!-- REVEALJS STYLE DEPENDENCIES -->
		<link rel="stylesheet" href="reveal.js/css/reveal.min.css">
		<link rel="stylesheet" href="reveal.js/css/theme/simple.css" id="theme">

		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

		<!-- PROJECT LEVEL: STYLES -->
		<link rel="stylesheet" href="all.min.css" />
	</head>

	<body>

		<!-- PROJECT LEVEL: HEADER -->
