// ================================================================================
// COMPONENT LEVEL: SASS
// example-component
// Only contains Sass for this component.
// ================================================================================

// ------------------------------------------------------------------------------
// COMPONENT LEVEL: VARIABLES
// ------------------------------------------------------------------------------



// ------------------------------------------------------------------------------
// COMPONENT LEVEL: BEM BLOCK
// ------------------------------------------------------------------------------

.example-component {
	padding: $padding--large;

	a {
		@extend %transition--base;
		color: $color--primary;

		&:hover,
		&:active {
			color: $color--dark-primary;
		}
	}
}
