{{> page-top }}

	<!-- PAGE LEVEL: HTML  -->
	<!-- index -->
	<!-- Built with revealjs -->
	<!-- https://github.com/hakimel/reveal.js/ -->
	<div class="reveal index">
		<div class="slides">



			<!-- ================================================ -->
			<!-- INTRO -->
			<!-- ================================================ -->

			<!-- SLIDE: MAIN TITLE -->
			<section class="slide slide--section-title slide--main-title" data-background="#5dc4c6">
				<h1>JavaScript Fundamentals</h1>
				<h2>Part 1</h2>
			</section>

			<!-- SLIDE: ABOUT -->
			<section class="slide slide--section-title slide--about" data-background="#5dc4c6">
				<h1>Hi there!</h1>
				<h2>My name is Trevor.</h2>
				{{> trevordmiller-follow }}
			</section>

			<!-- SLIDE: OVERVIEW -->
			<section class="slide slide--section-title slide--overview" data-background="#5dc4c6">
				<h1>Lesson Outline</h1>
				<ul>
					<li class="fragment roll-in">How the web works.</li>
					<li class="fragment roll-in">How JS fits in with HTML &amp; CSS.</li>
					<li class="fragment roll-in">Client vs Server.</li>
					<li class="fragment roll-in">The Principles of TDD.</li>
					<li class="fragment roll-in">Fundamental concepts of JS.</li>
					<li class="fragment roll-in">Project: JS Koans.</li>
				</ul>
			</section>

			<!-- SLIDE: WARNING -->
			<section class="slide slide--warning" data-background="#f96a5c">
				<h1>Warning!</h1>
				<h2>Hands on.</h2>
				I'll call on you
				Practice problems in slides.
				<a href="https://github.com/trevordmiller/devmtn-js-fundamentals-1">https://github.com/trevordmiller/devmtn-js-fundamentals-1</a>
				<h2>I'd like to invite you to follow along. Each section will include a question and a bit of practice that you can try for yourself.</h2>
				<ul>
					<li>Clone</li>
					<li><code>dist/index.html</code></li>
				</ul>
			</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->
			<section class="slide slide--section-title" data-background="#5dc4c6" data-transition="zoom">
				<h1>How the web works.</h1>
				<ul>
					<li class="fragment roll-in">Points</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h2>Goal</h2>
					<p>stuff</p>
					{{> js-logo }}
				</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->
			<section class="slide slide--section-title" data-background="#5dc4c6" data-transition="zoom">
				<h1>How JS fits in with HTML &amp; CSS.</h1>
				<ul>
					<li class="fragment roll-in">Points</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h2>Slide Heading</h2>
					<p>Stuff</p>
				</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->
			<section class="slide slide--section-title" data-background="#5dc4c6" data-transition="zoom">
				<h1>Client vs Server.</h1>
				<ul>
					<li class="fragment roll-in">Points</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h2>Slide Heading</h2>
					<p>Stuff</p>
				</section>



			<!-- ================================================ -->
			<!-- END -->
			<!-- ================================================ -->

			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#5dc4c6">
				<h1>Summary</h1>
				<p>If you forget everything about this or you zoned out or whatever...the gist of it all is:</p>
				<ol>
					<li>Primer is pretty cool.</li>
					<li>Read the documentation.</li>
					<li>Setup everything in the "Prerequisites" section.</li>
					<li>Run <code>yo primer</code> to create "projects".</li>
					<li>Run <code>yo primer:component</code> to create "components".</li>
				</ol>
			</section>

			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#5dc4c6">
				<h1>Give it a try!</h1>
				<p><a target="_blank" href="https://code.ldschurch.org/stash/projects/PRIMER">https://code.ldschurch.org/stash/projects/PRIMER</a></p>
			</section>

		</div>
	</div>

{{> page-bottom }}
