{{> page-top }}

	<!-- PAGE LEVEL: HTML  -->
	<!-- index -->
	<!-- Built with revealjs -->
	<!-- https://github.com/hakimel/reveal.js/ -->
	<div class="reveal index">
		<div class="slides">


<!-- ================================================ -->
<!-- PART I -->
<!-- ================================================ -->


			<!-- ================================================ -->
			<!-- INTRO -->
			<!-- ================================================ -->

			<!-- SLIDE: MAIN TITLE -->
			<section class="slide slide--section-title slide--main-title" data-background="#24abe2">
				<img src="images/devmtn.png" alt="DevMountain" />
				<h1>JavaScript Fundamentals</h1>
				<h2>Part I</h2>
			</section>

			<!-- SLIDE: ABOUT -->
			<section class="slide slide--section-title slide--about" data-background="#24abe2">
				<img class="trevordmiller-avatar" src="images/trevor.jpg" alt="Trevor D. Miller" />
				<h1>Hi there!</h1>
				<h2 class="fragment roll-in">My name is Trevor.</h2>
			</section>

			<!-- SLIDE: SO EXCITED -->
			<section class="slide slide--section-title" data-background="#24abe2">
				<h1>How I feel...</h1>
				<img class="fragment roll-in" src="images/excited-baby.jpg" alt="Excited baby" />
			</section>

			<!-- SLIDE: OVERVIEW -->
			<section class="slide slide--section-title slide--overview" data-background="#24abe2">
				<h1>Lesson Outline</h1>
				<ul>
					<li class="fragment roll-in"><span class="time">6:00 - 6:30:</span> Background.</li>
					<li class="fragment roll-in"><span class="time">6:30 - 7:00:</span> Fundamental JS Concepts.</li>
					<li class="fragment roll-in"><span class="time">7:00 - 9:00:</span> Project.</li>
				</ul>
			</section>

			<!-- SLIDE: WARNING -->
			<section class="slide slide--warning" data-background="#f96a5c">
				<h1>Warning!</h1>
				<h2 class="fragment roll-in">This is a <em>flipped</em> classroom.</h2>
				<ul>
					<li class="fragment roll-in">Fast paced.</li>
					<li class="fragment roll-in">Hands on.</li>
					<li class="fragment roll-in">Ask questions.</li>
					<li class="fragment roll-in">I'll call on you.</li>
					<li class="fragment roll-in">Don't feel dumb.</li>
					<li class="fragment roll-in">Follow along at: <a href="temp-ip-address:3000">temp-ip-address:3000</a></li>
				</ul>
			</section>

				<!-- QUIZ -->
				<section class="slide slide--quiz">
					<h1>Quiz</h1>
					<ul>
						<li class="fragment roll-in">What does a flipped classroom mean?</li>
						<li class="fragment roll-in">When should you ask questions?</li>
					</ul>
					<div class="fragment roll-in">
						<p>Say hello:</p>
						<textarea></textarea>
					</div>
				</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->

			<section class="slide slide--section-title" data-background="#24abe2" data-transition="zoom">
				<h1>Background</h1>
				<ul>
					<li class="fragment roll-in">What is JS?</li>
					<li class="fragment roll-in">Why do you need JS?</li>
					<li class="fragment roll-in">How does JS fit in with HTML &amp; CSS?</li>
					<li class="fragment roll-in">How the web works.</li>
					<li class="fragment roll-in">Client vs Server.</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>What is JavaScript?</h1>
					<ul>
						<li class="fragment roll-in"><em>Nothing</em> to do with Java.</li>
						<li class="fragment roll-in"><em>THE</em> most important language of the web.</li>
						<li class="fragment roll-in">Used everywhere! Websites, apps, client side, server side, even machines.</li>
						<li class="fragment roll-in">Provides <em>functionality</em>.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">How does Java fit in with JavaScript?</li>
							<li class="fragment roll-in">What is JavaScript?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Why do you need JS?</h1>
					<ul>
						<li class="fragment roll-in">Disable JS on <a href="http://twitter.com" target="_blank">Twitter</a>.</li>
						<li class="fragment roll-in">Interact with the DOM.</li>
						<li class="fragment roll-in">Events.</li>
						<li class="fragment roll-in">Async goodness.</li>
						<li class="fragment roll-in">Database layer.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">Why do you need JavaScript?</li>
							<li class="fragment roll-in">What does JavaScript do?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>How does JS fit with HTML &amp; CSS?</h1>
					<ul>
						<li class="fragment roll-in">Script tags.</li>
						<li class="fragment roll-in">External links.</li>
						<li class="fragment roll-in">Inspect <a href="http://google.com" target="_blank">www.google.com</a>.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<div class="fragment roll-in">
							<p>How do you include JavaScript in your HTML?</p>
							<textarea>
							</textarea>
						</div>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>How the web works.</h1>
					<a class="button" href="http://alpha.ideavis.co/529cc5f/?utm_content=bufferd15ac&utm_source=buffer&utm_medium=twitter&utm_campaign=Buffer" target="_blank">Sweet diagram</a>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What do "front-end" and "back-end" mean?</li>
							<li class="fragment roll-in">What is the difference between the client and the server?</li>
							<li class="fragment roll-in">When does JavaScript run?</li>
							<li class="fragment roll-in">What is the difference between JavaScript and jQuery?</li>
							<li class="fragment roll-in">How does Angular fit in?</li>
							<li class="fragment roll-in">...Node?</li>
							<li class="fragment roll-in">What is <em>"BaaS"</em>?</li>
							<li class="fragment roll-in">What is a database?</li>
							<li class="fragment roll-in">What would happen to a tweet if Twitter didn't have a database?</li>
						</ul>
					</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->

			<section class="slide slide--section-title" data-background="#24abe2" data-transition="zoom">
				<h1>Fundamental JS Concepts</h1>
				<ul>
					<li class="fragment roll-in">Comments.</li>
					<li class="fragment roll-in">Variables.</li>
					<li class="fragment roll-in">Conditional statements.</li>
					<li class="fragment roll-in">Operators.</li>
					<li class="fragment roll-in">Functions.</li>
					<li class="fragment roll-in">The Principles of TDD.</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Comments</h1>
					<pre class="fragment roll-in">
						<code>
							// This is a single line comment.

							/*
							 * This is a multi line comment. Careful!
							 */
						</code>
					</pre>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<div class="fragment roll-in">
							<p>Write a single line comment:</p>
							<textarea></textarea>
						</div>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Operators</h1>
					<ul>
						<li class="fragment roll-in"><code>=</code> | Assignment.</li>
						<li class="fragment roll-in"><code>==</code> | Compares values.</li>
						<li class="fragment roll-in"><code>===</code> | Compares values and types.</li>
						<li class="fragment roll-in"><code><</code> | Less than.</li>
						<li class="fragment roll-in"><code>></code> | Greater than.</li>
						<li class="fragment roll-in"><code><=</code> | Less than or equal to.</li>
						<li class="fragment roll-in"><code>>=</code> | Greater than or equal to.</li>
						<li class="fragment roll-in">Truthy vs Falsy.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What is the difference between <code>=</code>, <code>==</code>, and <code>===</code>?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Variables</h1>
					<pre class="fragment roll-in">
						<code>

							// Declare a variable.
							var variableName;

							// Initialize the variable.
							variableName = 42;

							// Declare and initialize at the same time.
							var variableName = 42;
						</code>
					</pre>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<div class="fragment roll-in">
							<p>Declare and initialize a variable:</p>
							<textarea></textarea>
						</div>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>If Statements</h1>
					<pre class="fragment roll-in">
						<code>
							// Template
							if (condition) {
								// code
							}

							// Example
							var hoursPerDay = 24;
							if (hoursPerDay === 24) {
								alert("If only there were more...");
							}
						</code>
					</pre>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<div class="fragment roll-in">
							<p>Write an if statement:</p>
							<textarea></textarea>
						</div>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Functions</h1>
					<p class="fragment roll-in">Functons: re-usable chunks of code.</p>
					<pre class="fragment roll-in">
						<code>
							// Template
							function functionName(optional parameter1, parameter2 etc) {
								// Code

								// Optional return statement
							}

							// Function declaration
							function getGreeting(name) {
								return "Hello " + name + "!";
							}

							// Store a name
							var myName = "Bob";

							// Call the function, passing in a name, and store the return value
							var greeting = functionName(myName);

							// What is "greeting"?
						</code>
					</pre>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What is a function?</li>
							<li class="fragment roll-in">What does a <code>return</code> statement do?</li>
							<li class="fragment roll-in">What is a parameter?</li>
						</ul>
						<div class="fragment roll-in">
							<p>Write a function to alert a day of the week:</p>
							<textarea></textarea>
						</div>
					</section>

				<section class="slide">
					<h1>Functions Continued</h1>
					<ul>
						<li class="fragment roll-in"><code>functionName</code> vs <code>functionName()</code></li>
						<li class="fragment roll-in">Function expression vs declaration.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What's the difference between <code>toggleMenu</code> and <code>toggleMenu()</code>?</li>
							<li class="fragment roll-in">What's the difference between function expression and declaration?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>The Principles of TDD.</h1>
					<p><small>TDD = Test Driven Development.</small></p>
					<p>Start with a goal in mind.</p>
					<ol>
						<li class="fragment roll-in">Write a test.</li>
						<li class="fragment roll-in">Make the test pass.</li>
						<li class="fragment roll-in">Refactor.</li>
					</ol>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What is TDD?</li>
						</ul>
					</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->

			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#24abe2">
				<h1>Project</h1>
				<ol>
					<li class="fragment roll-in">Clone the JS Koans repo: <a href="https://github.com/devmountain/js-koans">github.com/devmountain/js-koans</a></li>
					<li class="fragment roll-in">Follow the instructions in the repo's README.</li>
					<li class="fragment roll-in">Make the tests pass in each file up until "AboutArrays.js"</li>
					<li class="fragment roll-in">Really try to understand the code.</li>
					<li class="fragment roll-in">If you need help, try Google, Stack Overflow, me or a classmate.</li>
					<li class="fragment roll-in">If you finish early, please help others ;)</li>
				</ol>
			</section>



			<!-- ================================================ -->
			<!-- END -->
			<!-- ================================================ -->

			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#24abe2">
				<h1>For review...</h1>
 				<a href="http://trevordmiller.github.io/devmtn-js-fundamentals-1/dist/">http://trevordmiller.github.io/devmtn-js-fundamentals-1/dist</a>
			</section>

			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#24abe2">
				<h1>Next lesson</h1>
				<h2>JavaScript Fundamentals: Part 2</h2>
				<ul>
					<li class="fragment roll-in">For loops.</li>
					<li class="fragment roll-in">While loops.</li>
					<li class="fragment roll-in">Arrays.</li>
					<li class="fragment roll-in">Array methods.</li>
					<li class="fragment roll-in">Project.</li>
				</ul>
			</section>

			<!-- SLIDE -->
			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#24abe2">
				<h1>Thanks!</h1>
			</section>




<!-- ================================================ -->
<!-- PART II -->
<!-- ================================================ -->


			<!-- ================================================ -->
			<!-- INTRO -->
			<!-- ================================================ -->

			<!-- SLIDE: MAIN TITLE -->
			<section class="slide slide--section-title slide--main-title" data-background="#24abe2">
				<img src="images/devmtn.png" alt="DevMountain" />
				<h1>JavaScript Fundamentals</h1>
				<h2>Part II</h2>
			</section>

			<!-- SLIDE: OVERVIEW -->
			<section class="slide slide--section-title slide--overview" data-background="#24abe2">
				<h1>Lesson Outline</h1>
				<ul>
					<li class="fragment roll-in"><span class="time">6:00 - 7:00:</span> Instruction</li>
					<ul>
						<li class="fragment roll-in">Review</li>
						<li class="fragment roll-in">Loops</li>
						<li class="fragment roll-in">Arrays</li>
					</ul>
					<li class="fragment roll-in"><span class="time">7:00 - 8:45:</span> Project</li>
					<li class="fragment roll-in"><span class="time">8:45 - 9:00:</span> Summary</li>
				</ul>
			</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->

			<section class="slide slide--section-title" data-background="#24abe2" data-transition="zoom">
				<h1>Review Outline</h1>
				<ul>
					<li class="fragment roll-in">Questions</li>
					<li class="fragment roll-in">Functions</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Questions?</h1>
				</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Functions</h1>
					<pre class="fragment roll-in">
						<code>
							var functionName = function(parameter) {
							    var myReturnVariable = 'hello ' + parameter '!';
							    return myReturnVariable;
							};
						</code>
					</pre>
					<ul>
						<li class="fragment roll-in">Re-usable chunks of code.</li>
						<li class="fragment roll-in">Return statements.</li>
						<li class="fragment roll-in">Function expression vs declaration.</li>
						<li class="fragment roll-in">Variables have <em>functional</em> scope.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What is a function?</li>
							<li class="fragment roll-in">What does a <em>return</em> statement do?</li>
							<li class="fragment roll-in">What is the difference between a function <em>expression</em> and <em>declaration</em>?</li>
							<li class="fragment roll-in">What is the scope of a variable?</li>
							</li>
						</ul>
					</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->

			<section class="slide slide--section-title" data-background="#24abe2" data-transition="zoom">
				<h1>Loops Outline</h1>
				<ul>
					<li class="fragment roll-in">For loops</li>
					<li class="fragment roll-in">While loops</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>For loops</h1>
					<pre class="fragment roll-in">
						<code>
							for(var i = 0; i < value; i++) {
							    // Do something with each iteration
							}
						</code>
					</pre>
					<ul>
						<li class="fragment roll-in">Used to iterate over something a set amount of times.</li>
						<li class="fragment roll-in"><code>i</code> is a convention.</li>
						<li class="fragment roll-in"><code>i++</code> means to increase <code>i</code> by <em>one</em> each time through the loop.</li>
						<li class="fragment roll-in">Great through iterating through array items.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What is a for loop?</li>
							<li class="fragment roll-in">Write a for loop:<br />
								<textarea></textarea>
							</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>While loops</h1>
					<pre class="fragment roll-in">
						<code>
							while(condition) {
							    // Do something with each iteration
							}
						</code>
					</pre>
					<ul>
						<li class="fragment roll-in">A while loop is similiar to a for loop.</li>
						<li class="fragment roll-in">Great for conditions that need to be met before proceeding, like entering a correct email address in an input field.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">When would you use a while loop rather than a for loop? What's the difference?</li>
							<li class="fragment roll-in">Write a while loop:<br />
								<textarea></textarea>
							</li>
						</ul>
					</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->

			<section class="slide slide--section-title" data-background="#24abe2" data-transition="zoom">
				<h1>Arrays Outline</h1>
				<ul>
					<li class="fragment roll-in">Purpose.</li>
					<li class="fragment roll-in"><code>[]</code> vs <code>new Array()</code>.</li>
					<li class="fragment roll-in">Order.</li>
					<li class="fragment roll-in">Indices.</li>
					<li class="fragment roll-in">Loop through with for loops.</li>
					<li class="fragment roll-in">Properties.</li>
				</ul>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Purpose</h1>
					<ul>
						<li class="fragment roll-in">Store multiple values in a single variable.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What is an array?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1><code>[]</code> vs <code>new Array()</code></h1>
					<pre class="fragment roll-in">
						<code>
							// Option 1
							var arrayName = new Array();

							// Option 2
							var arrayName = [];
						</code>
					</pre>
					<ul>
						<li class="fragment roll-in">Always use <code>[]</code>.</li>
						<li class="fragment roll-in">Its simpler.</li>
						<li class="fragment roll-in">Its faster.</li>
						<li class="fragment roll-in">It avoids the confusion if you only pass one parameter to <code>new Array</code>.</li>
					</ul>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">When would you use <code>[]</code> vs <code>new Array()</code>? Why?</li>
						</ul>
					</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Order</h1>
					<ul>
						<li class="fragment roll-in">Start at 0.</li>
					</ul>
				</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Indices</h1>
					<pre class="fragment roll-in">
						<code>
							// Template
							var arrayName = [item, item, item];

							// Example
							var familyNames = ['Bill', 'Christy', 'Tom', 'Lizzy'];
							var dad = familyNames[0];
						</code>
					</pre>
				</section>

					<!-- QUIZ -->
					<section class="slide slide--quiz">
						<h1>Quiz</h1>
						<ul>
							<li class="fragment roll-in">What does <code>favoriteCandyBar</code> contain?<br />
								<pre>
									<code>
										var candyOptions = ['Butterfinger', 'Snickers', 'Symphony', 'Almond Joy', 'Reeses'];
										var favoriteCandyBar = candyOptions[2];
									</code>
								</pre>
							</li>
						</ul>
					</section>

			<!-- SLIDE -->
			<section class="slide">
				<h1>Loop through with for loops</h1>
				<pre class="fragment roll-in">
					<code>
						var familyNames = ['Bill', 'Christy', 'Tom', 'Lizzy'];
						for(var i = 0; i < familyNames.length; i++) {
						    console.log(familyNames[i]);
						}
					</code>
				</pre>
			</section>

				<!-- QUIZ -->
				<section class="slide slide--quiz">
					<h1>Quiz</h1>
					<ul>
						<li class="fragment roll-in">console.log all of the candy bars in the array:<br />
							<pre>
								<code>
									var candyOptions = ['Butterfinger', 'Snickers', 'Symphony', 'Almond Joy', 'Reeses'];
								</code>
							</pre>
							<textarea></textarea>
						</li>
					</ul>
				</section>



			<!-- SLIDE -->
			<section class="slide">
				<h1>Properties & Methods</h1>
				<ul>
					<li class="fragment roll-in">Properties</li>
					<ul>
						<li class="fragment roll-in"><code>arrayName.length</code><br />
						Returns the length of the array.</li>
					</ul>
					<li class="fragment roll-in">Methods</li>
					<ul>
						<li class="fragment roll-in"><code>arrayName.push(element, element)</code><br />
						Adds elements to end of the array</li>
						<li class="fragment roll-in"><code>arrayName.pop()</code><br />
						Removes the last element from an array and returns that element.</li>
					</ul>
				</ul>

			</section>
			<section class="slide">
				<ul>
					<li class="fragment roll-in"><code>arrayName.shift()</code><br />
					Removes the first element from an array and returns that element. This method changes the length of the array.</li>
					<li class="fragment roll-in"><code>arrayName.unshift()</code><br />
					Adds one or more elements to the beginning of an array and returns the new length of the array.</li>
					<li class="fragment roll-in"><code>stringName.split()</code><br />
					Splits a string into an array of substrings, and returns the new array</li>
				</ul>
			</section>
			<section class="slide">
				<ul>
					<li class="fragment roll-in"><code>arrayName.join()</code><br />
					Joins all elements of an array into a string.</li>
					<li class="fragment roll-in"><code>arrayName.slice()</code><br />
					Returns a copy of a portion of an array into a new array object.</li>
					<li class="fragment roll-in"><code>arrayName.splice()</code><br />
					Changes the content of an array, adding new elements while removing old elements
					<li class="fragment roll-in"><code>arrayName.reverse()</code><br />
					Reverses the items in a array.</li>
				</ul>
			</section>

				<!-- QUIZ -->
				<section class="slide slide--quiz">
					<h1>Quiz</h1>
					<ul>
						<li class="fragment roll-in">Store the <em>amount</em> of items in the <code>candyOptions</code> array into a variable called <code>candyCount</code>:<br />
							<textarea></textarea>
						</li>
					</ul>
				</section>



			<!-- ================================================ -->
			<!-- SECTION -->
			<!-- ================================================ -->

			<section class="slide slide--section-title" data-background="#24abe2" data-transition="zoom">
				<h1>Project</h1>
			</section>

				<!-- SLIDE -->
				<section class="slide">
					<h1>Project</h1>
					<ol>
						<li class="fragment roll-in">Array <em>fiddles</em>:<br /><a href="github.com">github.com/DevMountain/js-utility-problem-fiddles</a><br />
						Help: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array">Mozilla Developer Network (MDN)</a>.</li>
						<li class="fragment roll-in">Finish <em>JS Koans</em> from yesterday:<br />
							<a href="github.com">github.com/DevMountain/JS-KOANS</a></li>
						<li class="fragment roll-in">Google first.</li>
						<li class="fragment roll-in">Help each other.</li>
					</ol>
				</section>



			<!-- ================================================ -->
			<!-- END -->
			<!-- ================================================ -->

			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#24abe2">
				<h1>Summary</h1>
			</section>

			<!-- SLIDE -->
			<section class="slide">
				<h1>Slides</h1>
				<a href="http://trevordmiller.github.io/devmtn-js-fundamentals-1/dist/">trevordmiller.github.io/devmtn-js-fundamentals/dist</a>
			</section>

			<!-- SLIDE -->
			<section class="slide">
				<h1>Resources</h1>
				<p class="fragment roll-in">Disclaimer: this is my opinion ;)</p>
				<ul>
					<li class="fragment roll-in"><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference" target="_blank">Mozilla Developer Network</a>.</li>
					<li class="fragment roll-in"><a href="http://www.jshint.com/" target="_blank">JSHint plugin for sublime</a>.</li>
					<li class="fragment roll-in"><a href="http://eloquentjavascript.net/" target="_blank">Eloquent JavaScript</a>.</li>
					<li class="fragment roll-in"><a href="http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742" target="_blank">JavaScript: The Good Parts</a>.</li>
					<li class="fragment roll-in"><a href="https://www.codeschool.com/" target="_blank">CodeSchool</a>.</li>
				</ul>
			</section>

			<!-- SLIDE -->
			<section class="slide">
				<h1>Advice</h1>
				<p class="fragment roll-in">Disclaimer: this is my opinion ;)</p>
				<p class="fragment roll-in">If you forget everything else, don't forget to...</p>
				<ol>
					<li class="fragment roll-in">Stay current.</li>
					<ul>
						<li class="fragment roll-in">Meetups.</li>
						<li class="fragment roll-in">Twitter.</li>
						<li class="fragment roll-in">Newsletters.</li>
						<li class="fragment roll-in">Daily study and practice.</li>
					</ul>
					<li class="fragment roll-in">Build stuff. Google tons.</li>
					<li class="fragment roll-in">Be passionate!</li>
				</ol>
			</section>

			<!-- SLIDE -->
			<!-- SLIDE -->
			<section class="slide slide--section-title slide--end" data-background="#24abe2">
				{{> trevordmiller-follow }}
			</section>

		</div>
	</div>

{{> page-bottom }}
