// ================================================================================
// PROJECT LEVEL: SASS
// intro-slide-deck
// Only contains Sass shared across the project.
// Imports all other Sass files (partials).
// ================================================================================



// ------------------------------------------------------------------------------
// PROJECT LEVEL: VARIABLES
// Only contains variables shared across Sass files.
// ------------------------------------------------------------------------------

// BREAKPOINTS
$breakpoint--mobile: 640px;

// COLORS
$color--fill: #fff;
$color--primary: #5dc4c6;
$color--light-primary: #b0e1e2;
$color--dark-primary: #3ea7a7;
$color--primary-compound: #f96a5c;
$color--dark-gray: #333333;
$color--light-gray: #cccccc;
$color--lightest-gray: #efefef;

// BORDER RADIUS
$border-radius--base: 3px;

// SPACING
$margin--base: 1.3rem;
$margin--small: ($margin--base / 2);
$margin--smaller: ($margin--small / 2);
$margin--medium: ($margin--base * 2);
$margin--large: ($margin--base * 3);
$margin--larger: ($margin--base * 4);
$padding--base: 1.3rem;
$padding--small: ($padding--base / 2);
$padding--smaller: ($padding--small / 2);
$padding--medium: ($padding--base * 2);
$padding--large: ($padding--base * 3);
$padding--larger: ($padding--base * 4);

%cushion--base {
	padding: $padding--large $padding--medium;
}

// TYPOGRAPHY
$font-family--primary: 'Raleway', sans-serif;
$font-family--secondary: Monaco, monospace;
$font-weight--heading: 100;
$font-weight--base: 400;
$font-size--base: 1.6rem;
$font-size--medium: 1.8rem;
$font-size--small: 1.5rem;
$margin--small: .7rem;
$margin--medium: 1.4rem;
$margin--large: 2.6rem;
$line-height--base: 1.3;

// ANIMATIONS
$transition-speed--base: .3s;

%transition--base {
	transition: all $transition-speed--base;
}



// ------------------------------------------------------------------------------
// IMPORTS
// Import all Sass partials using Sass globbing.
// Currently requires version 1.1.0.
// https://github.com/chriseppstein/sass-globbing
// ------------------------------------------------------------------------------

// PROJECT STYLE RESET
// GLOBAL COMPONENT: primer-style-reset
@import 'global-components/primer-style-reset/_primer-style-reset.scss';

// REVEAL RESET
$font-family--primary: 'Raleway', sans-serif;
$font-family--secondary: Monaco, monospace;

.reveal * {
	font-family: $font-family--primary !important;
	font-weight: $font-weight--base !important;
	color: $color--dark-gray !important;
	text-shadow: none !important;
	line-height: $line-height--base;
}

.reveal h1,
.reveal h2,
.reveal h3 {
	font-weight: $font-weight--heading !important;
}

.reveal blockquote {
	font-size: 2rem;
	box-shadow: none;
	background: $color--lightest-gray;
	padding: $padding--base;
	border-radius: $border-radius--base;
}

.reveal em,
.reveal strong {
	color: $color--dark-gray !important;
	font-style: italic;
}

.reveal p {
	margin-top: $margin--medium;
}

.reveal ul {
	margin-top: $margin--small;

	li {
		margin-top: ($margin--small / 2);
	}
}

.reveal section img {
	border: 0;
	box-shadow: none;
	background: none;
}

.reveal code {
	color: $color--dark-primary !important;
	font-family: $font-family--secondary !important;
}



// PROJECT SPECIFIC COMPONENTS
@import 'components/**/*.scss';
