// ================================================================================
// COMPONENT LEVEL: SASS
// slide
// Only contains Sass for this component.
// ================================================================================

// ------------------------------------------------------------------------------
// COMPONENT LEVEL: VARIABLES
// ------------------------------------------------------------------------------



// ------------------------------------------------------------------------------
// COMPONENT LEVEL: BEM BLOCK
// ------------------------------------------------------------------------------

.slide {

	// BEM ELEMENTS
	&__emphasis {
		color: $color--dark-primary !important;
	}

	a {
		color: $color--primary !important;
	}

	// BEM MODIFIERS
	&--section-title {
		h1 {
			color: $color--fill !important;
		}

		* {
			color: $color--light-primary !important;
		}

		a {
			color: $color--fill !important;
		}
	}

	&--warning {

		h1 {
			color: $color--fill !important;
		}

		* {
			color: $color--fill !important;
		}

		a {
			color: $color--fill !important;
		}
	}
}
