<!-- COMPONENT LEVEL: HTML -->
<!-- slide -->

<!-- BEM BLOCK -->
<section class="slide">

	<!-- BEM ELEMENTS -->

	<section class="slide__example-element">
		<h1>Hello world! This is a slide component.</h1>
	</section>

</section>
